<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#f7f7f7">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="State Management - Home Made">
    <title>DIY: Vuex</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
    <noscript>
      <strong>You need to enable JavaScript to run this app</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
